<menu id="side-menu" class="menu">
  <figure id="openSettings" class="menu__hero-section">
    <div class="menu__hero-section__image-shadow">
      <div class="menu__hero-section__image-ring">
        <img src="./img/profil-laurentiu.jpg" alt="Laurentiu" />
      </div>
    </div>
    <figcaption class="menu__hero-section__caption">
      <a href="index.html#profile">
        Laurențiu
        <svg width="8" height="10">
          <use href="./img/icons.svg#simple-arrow-1"></use>
        </svg>
      </a>
    </figcaption>
  </figure>

  <!-- Navbar -->
  <nav class="menu__navbar">
    <ul>
      <li>
        <a id="menu__navbar__dropdown-list-button" href="./index.html#schedule">
          <svg height="20" width="20">
            <use href="./img/icons.svg#menu-schedule"></use>
          </svg>
          Programe
          <svg
            id="dropdownButton"
            width="8"
            height="10"
            style="color: #818181; margin-left: 8px"
          >
            <use href="./img/icons.svg#simple-arrow-1"></use>
          </svg>
        </a>
        <ul id="dropdownList" class="dropdownVisibility">
          <li>
            <a
              href="https://ctparad.ro/index.php/tramvaie-pe-linii/"
              target="_blank"
            >
              — Tramvaie
            </a>
          </li>
          <li>
            <a
              href="https://ctparad.ro/index.php/autobuze-pe-linii/"
              target="_blank"
            >
              — Busuri
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="./index.html#notifications">
          <svg height="20" width="20">
            <use href="./img/icons.svg#menu-notifications"></use>
          </svg>
          Notificări
        </a>
      </li>
      <li>
        <a href="./index.html#settings">
          <svg height="20" width="20">
            <use href="./img/icons.svg#menu-settings"></use>
          </svg>
          Setări
        </a>
      </li>
      <li class="menu__navbar__log-out">
        <a href="./index.html#log-out">
          <svg height="20" width="20">
            <use href="./img/icons.svg#log-out"></use>
          </svg>
          Deconectați-vă
        </a>
      </li>
    </ul>
  </nav>
</menu>
