<menu class="menu">
  <figure class="menu__hero-section">
    <div class="menu__hero-section__image-ring">
      <img src="./img/profil-laurentiu.jpg" alt="Laurentiu" />
    </div>
    <figcaption>
      <a href="https://www.facebook.com" target="_blank"> Laurentiu </a>
    </figcaption>
  </figure>

  <!-- Navbar -->
  <nav>
    <ul>
      <li>
        <a>
          <svg height="20" width="20" class="">
            <use href="./img/icons.svg#form-person"></use>
          </svg>
          Programe
        </a>
      </li>
      <li>
        <a>
          <svg height="20" width="20" class="">
            <use></use>
          </svg>
          Notificări
        </a>
      </li>
      <li>
        <a>
          <svg height="20" width="20" class="">
            <use></use>
          </svg>
          Setări
        </a>
      </li>
      <li>
        <a>
          <svg height="20" width="20" class="">
            <use></use>
          </svg>
          Deconectați-vă
        </a>
      </li>
    </ul>
  </nav>
</menu>
