<section id="profileSettings" class="hidden profile">
  <!-- Profile -->
  <article class="profile__hero-section">
    <figure>
      <div class="profile__hero-section__image-shadow">
        <div class="profile__hero-section__image-ring">
          <img src="./img/profil-laurentiu.jpg" alt="Laurentiu" />
        </div>
      </div>
      <figcaption class="profile__hero-section__caption">
        <a href="index.html#display-name">
          <svg width="20" height="20">
            <use href="./img/icons.svg#edit"></use>
          </svg>
          <h2>Laurențiu</h2>
        </a>
      </figcaption>
    </figure>
  </article>

  <!-- Settings -->
  <article class="profile__settings">
    <ul>
      <li>
        <a href="index.html#full-name">
          <h2>Nume</h2>
          <svg width="20" height="20">
            <use href="./img/icons.svg#edit"></use>
          </svg>
          Laurențiu Cristian-Olaru
        </a>
      </li>
      <li>
        <a href="index.html#email">
          <h2>Email</h2>
          <svg width="20" height="20">
            <use href="./img/icons.svg#edit"></use>
          </svg>
          laurentiucolaru@gmail.com
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="./index.html#log-out">
          <svg height="20" width="20">
            <use href="./img/icons.svg#log-out"></use>
          </svg>
          Deconectați-vă
        </a>
      </li>

      <li>
        <button id="closeSettings" class="button--primary-blue" type="button">
          Înapoi
        </button>
      </li>
    </ul>
  </article>
</section>
